<!DOCTYPE html>
<html>
<head>
    <title>Tentang Saya</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <img class="potrait" src="/img/foto_indra.png">
    </div>
    {{>footer}}
</body>
</html>
